<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@localhost
    ServerName 192.168.56.5/static
    DocumentRoot /var/www/html
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
 


</VirtualHost>
