server {
        listen 80;
	server_name 192.168.56.7;

        location /static {
              
               proxy_pass http://{{ proxy_ip_1 }}:{{ http_port_1 }};
	       proxy_set_header Host $host;
               proxy_set_header X-Real-IP $remote_addr;
               proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        
	}

        location /dynamic {

               proxy_pass http://{{ proxy_ip_2 }}:{{ http_port_2 }};
	       proxy_set_header Host $host;
               proxy_set_header X-Real-IP $remote_addr;
               proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        
	}
}
