#!/bin/bash

/opt/puppetlabs/puppet/bin/r10k deploy environment -p 2>> /etc/puppetlabs/r10k/errorlog_r10k_deploy

if [ -f /etc/puppetlabs/code/environments/production/Puppetfile ]
  then
      if [ -s /etc/puppetlabs/code/environments/production/Puppetfile ]
        then
            /opt/puppetlabs/puppet/bin/r10k deploy environment --puppetfile
      fi
fi
puppet agent -t
